
#testeCor1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
   display:flexbox;
}
#testeCor2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
   display:flexbox;
}
#testeCor3{
    width: 100px;
    height: 100px;
    border: 1px solid black;
   display:flexbox;
}
#testeCor4{
    width: 100px;
    height: 100px;
    border: 1px solid black;
   display:flexbox;
}
.noob2{
    margin-left: 120px;
    margin-top: -101px;
}
.noob4{
    margin-left: 120px;
    margin-top: -101px;
}
