body{
    
   
}
#body{
     background-color: aqua;
   align-items: center;
}


#noob{
    width:265px;
    height: 190px;
    background-color: rgb(245, 240, 240);
    border-radius: 30px;
    background-image: url(./img/bta.png);
    background-repeat: no-repeat;
    margin-left: 15px;
   
}
#foto{
    border-radius: 45px;
}
input{
    margin-bottom: 10px; 
  
}